<!DOCTYPE HTML>
<html>
<head>
    <title>Twends - Twitter Trends Visualization</title>
</head>

<style>
path {
  fill: none;
  stroke: #000;
  stroke-width: .4px;
}

.land-boundary {
  stroke-width: .7px;
}

svg {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

</style>

<body>
    <div id="content">
    </div>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <!--<script type="text/javascript" src="static/index.js"></script> -->
    <script src="static/map.js"></script>

</body>

</html>
